*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

###############################################################################################
# Ignore specific config files
###############################################################################################
.bundle/*
!.bundle/config
config/application.yml

###############################################################################################
# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
###############################################################################################
config/initializers/secret_token.rb
config/master.key

###############################################################################################

Gemfile.lock
.ruby-version
.ruby-gemset

###############################################################################################
# Only include if you have production secrets in this file, which is no longer a Rails default
###############################################################################################
# config/secrets.yml

###############################################################################################
# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
###############################################################################################
.rvmrc

###############################################################################################
# if using bower-rails ignore default bower_components path bower.json files
###############################################################################################
/vendor/assets/bower_components
*.bowerrc
bower.json

###############################################################################################
# Ignore all logfiles and tempfiles.
###############################################################################################
/log/*.log
/tmp
.byebug_history

###############################################################################################
# Ignore application configurations
###############################################################################################
.chef
.vagrant

###############################################################################################
# Ignore pow environment settings
###############################################################################################
.powenv


###############################################################################################
# Ignore local asset pipline cache files, local Paperclip Carrierwave folders
###############################################################################################
/public/assets
/public/system/*
/vendor/bundle


###############################################################################################
# APPLICATION #
###############################################################################################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.psd
*.ai
*.ase
.env

###############################################################################################
# Packages #
###############################################################################################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


###############################################################################################
# Logs and databases #
###############################################################################################
*.log
*.sql
*.sqlite


###############################################################################################
# OS generated files & rubymine#
###############################################################################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.idea
.idea/*